@use "@styles/_variables.scss" as *;
@use "@styles/_functions.scss" as *;
@use "@styles/_reset.scss" as *;

.card {
    width: 400px;
    height: 363px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: pxToRem(30);
    background: $white;
    border-radius: pxToRem(30);

    .iconWrapper {
        width: 90px;
        aspect-ratio: 1;
        border-radius: 45px;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $checkout-color;
        box-shadow: 4px 10px 30px 0px rgba($color: $icon-shadow-color, $alpha: .4);

        .icon {
            width: 40px;
            aspect-ratio: 1;
        }
    }

    .cardTextWrapper {
        display: flex;
        flex-direction: column;
        gap: pxToRem(20);

        .cardTitle {
            font-weight: 500;
            font-style: normal;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            font-size: clamp(16px, calc((20/1440)*100vw), 20px);
        }

        .cardText {
            font-weight: 400;
            font-style: normal;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: center;
            font-size: clamp(13px, calc((16/1440)*100vw), 16px);
            color: $adress-text-color;
        }

    }

}

@media screen and (max-width: $desktop-s) {

    .card {
        flex: 1;
        height: fit-content;
        padding: 40px 46px 40px 46px;
    }

}

@media screen and (max-width: $tablet-s) {
    .card {
        
        .iconWrapper {
            width: 70px;
            aspect-ratio: 1;

            .icon {
                width: 26px;
                aspect-ratio: 1;
            }
        }
    }
}