@use "@styles/_functions.scss" as *;

/*
 * Colors
 *
 * configure the colors required for the project here
 * */
$white: #ffffff;
$black: #000000;
$text-color: #2B2B2B;
$adress-text-color: #808080;
$checkout-color: #4361EE;
$button-color: #3A0CA3;
$max-width: 1440px;
$our-services-bg-color: #D4D4D44D;
$icon-shadow-color: #4361EE66;
$cta-bg-color: #3A0CA3;

$popular-tag-color: #FF1111;
$popular-tag-bg-color: #FFE1E1;
$newListing-tag-color: #119BFF;
$newListing-tag-bg-color: #D7EEFF;
$discounted-tag-color: #00CE3A;
$discounted-tag-bg-color: #F1FFF1;
$secondary-header-color:#3a0ca3;

$about-text-color: #4361EE;
$text-color-3:#808080;
$card-shadow:#00000000;
$icon-color:#4361EE;
$about-image-color: #D9D9D9;
$about-border-color:#00000026;
$secondary-header-color: #3a0ca3;

$location-card-shadow-color: #0000000F;
$location-card-no-shadow-color: #00000040;
$location-secondary-title-color: #4361EE;

/*
 * Typography and font sizes
 *
 * configure the typography and font sizes required for the project here
 * */

// font familly
$primary-font: "Poppins", sans-serif;

//font-sizes
$font-base: pxToRem(16);

//font-weight
$font-regular: 400;

/*
 * Screen Breakpoints
 * */

$desktop-xxl: pxToRem(1920);
$desktop-xl: pxToRem(1600);
$desktop-l: pxToRem(1440);
$desktop-m: pxToRem(1200);
$desktop-s: pxToRem(1024);
$tablet-l: pxToRem(992);
$tablet-m: pxToRem(768);
$tablet-s: pxToRem(640);
$mobile-l: pxToRem(576);
$mobile-m: pxToRem(480);
$mobile-s: pxToRem(320);