@use "@styles/_variables.scss" as *;
@use "@styles/_functions.scss" as *;


.checkoutOurNew {
  max-width: $desktop-l;
  margin-inline: auto;
  margin-block: 100px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: pxToRem(37);

  .checkoutHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .leftContent {
      display: flex;
      flex-direction: column;
      gap: pxToRem(20);
      width: 500px;

      .sectionName {
        font-weight: 500;
        font-style: normal;
        font-size: clamp(16px, calc((19/1440)* 100vw), 19px);
        line-height: 100%;
        letter-spacing: 0.15rem;
        color: $checkout-color;
      }

      .sectionTitle {
        font-weight: 600;
        font-style: normal;
        font-size: clamp(28px, calc((40 / 1440) * 100vw), 40px);
        line-height: 47px;
        letter-spacing: 0;
        color: $text-color;
      }

      .sectionDescription {
        font-weight: 400;
        font-style: normal;
        font-size: clamp(13px, calc((16 / 1440) * 100vw), 16px);
        line-height: 26px;
        letter-spacing: 0;
        color: $adress-text-color;
        padding-inline-end: 50px;
      }
    }

    .rightContent {
      display: flex;
      gap: pxToRem(10);

      .filterButton {
        width: fit-content;
        padding: 19px 30px 19px 30px;
        border: 1px solid $button-color;
        border-radius: pxToRem(30);
        cursor: pointer;
        background: $white;
        color: $button-color;
        transition: all 200ms ease-in-out;

        &:hover {
          background: $button-color;
          color: $white;
        }
      }
    }
  }
}

.activeButton {
  background: $button-color !important;
  color: $white !important;
}

.cardWrapper {
  display: flex;
  gap: pxToRem(50);
}


@media screen and (max-width: $desktop-s) {

  .checkoutOurNew {
    margin-inline: 20px;
  }

  .cardWrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: pxToRem(40);
  }

}

@media screen and (max-width: $tablet-m) {

  .checkoutOurNew {
    gap: pxToRem(40);
    margin-block: 60px;

    .checkoutHeader {
      flex-direction: column;
      gap: pxToRem(40);

      .leftContent {
        width: 333px;
      }

    }
  }

}