@use "@styles/_variables.scss" as *;
@use "@styles/_functions.scss" as *;
@use "@styles/_reset.scss" as *;



.locations {
    max-width: $max-width;
    margin: 100px auto 100px auto;
    display: flex;
    flex-direction: column;
    gap: pxToRem(80);

    .titleWrapper {
        display: flex;
        flex-direction: column;
        gap: pxToRem(30);

        .secondaryTitle {
            font-family: $primary-font;
            font-weight: 500;
            font-style: normal;
            font-size: 19px;
            line-height: 100%;
            letter-spacing: 15%;
            color: $location-secondary-title-color;
        }

        .primaryTitle {
            font-family: $primary-font;
            font-weight: 600;
            font-style: normal;
            line-height: 47px;
            letter-spacing: 0;
            font-size: clamp(32px, calc((40/1440) * 100vw), 40px);
        }
    }

    .locationsImageWrapper {
        display: grid;
        grid-template-columns: 1fr 0.3fr 0.7fr 1fr;
        grid-template-areas:
            "one two two three"
            "four four five five";
        column-gap: pxToRem(20);
        row-gap: pxToRem(50);
    }
}

@media screen and (max-width: $desktop-s) {
    .locations {
        margin-block: 60px;
        padding-inline: 20px;

        .locationsImageWrapper {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                "one one two two"
                "three three four four"
                "five five five five"
            ;
        }
    }
}